@use "../utilidades/extends";
@use "../utilidades/mixins" as mixin;
@use "../utilidades/colores" as color;

.mainCatalogo {
  gap: 5px;
  @extend %flex;
  @extend %flexDirection;
}
.contenedorCatalogo {
  margin-left: 15%;
  width: 70%;
  padding: 10px;
  @extend %flex;
  @extend %flexDirection;
}
.contenedorCatalogoProductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}
.contenedorCatalogoCard {
  padding: 10px;
}
.subTituloCatalogo {
  position: relative;
  @extend %flex;
  @include mixin.display(center, center);
  @include mixin.tipografia("Roboto", 600, 25px);
}
.subTituloCatalogo::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.582);
  margin-left: 10px;
}
.contenedorCatalogoCard {
  @extend %border;
  height: auto;
  @extend %textAlign;
  @include mixin.tipografia("Roboto", 600, 13px);
  img {
    width: 50%;
  }
  button {
    background-color: nth(color.$color, 2);
    color: nth(color.$color, 3);
    @include mixin.marginPadding(0 0 10px 0, 2px 10px);
    border: none;
    @extend %borderRadius2;
    @include mixin.tipografia("Roboto", 600, 15px);
    @extend %boxShadow;
    transform: translate(0, -3px);
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: linear;
  }
  button:active {
    transform: translate(0, 0);
  }
}
.contenedorCatalogoCard:hover {
  background-color: nth(color.$color, 2);
  border: 5px solid transparent;
  position: relative;
  transition: 0.4s;
  animation: borderAnimation 4s linear infinite;
  button {
    background-color: nth(color.$color, 3);
    color: nth(color.$color, 1);
    box-shadow: 5px 5px 5px 0px nth(color.$color, 1);
    -webkit-box-shadow: 5px 5px 5px 0px nth(color.$color, 1);
    -moz-box-shadow: 5px 5px 5px 0px nth(color.$color, 1);
  }
}
@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(45deg, #488cfb, #29dbbc);
  }
  25% {
    border-image-source: linear-gradient(45deg, #29dbbc, #ddf505);
  }
  50% {
    border-image-source: linear-gradient(45deg, #ddf505, #ff9f0e);
  }
  75% {
    border-image-source: linear-gradient(45deg, #ff9f0e, #e440bb);
  }
  100% {
    border-image-source: linear-gradient(45deg, #e440bb, #655adc);
  }
}
.contenedorCatalogoCard:hover {
  border-image-slice: 1;
}
