@use "../utilidades/extends";
@use "../utilidades/mixins" as mixin;
@use "../utilidades/colores" as color;

.contenedorNosotros {
  @extend %flex;
  @include mixin.display(space-between, center);
  @extend %flexDirection;
  gap: 10px;
  img {
    @extend %borderRadius1;
    width: 70%;
  }
  p {
    width: 70%;
    padding: 10px 15px;
    @include mixin.tipografia("Roboto", 400, 21px);
    @include mixin.display(center, center);
    span {
      padding: 5px;
      @extend %borderRadius2;
      color: nth(color.$color, 3);
      @include mixin.tipografia("Roboto", 600, 23px);
    }
  }
}
.contenedorNosotrosSecundario {
  width: 65%;
  @extend %flex;
  @include mixin.display(space-between, center);
  gap: 10%;
  div {
    width: 100%;
    height: auto;
    @extend %border;
    @extend %borderRadius1;
    padding-top: 8px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.445);
    margin: 0px 5px 10px 5px;
    h3 {
      font-size: 30px;
    }
    p {
      margin: 20px 20px 10px;
      padding: 5px 2px;
      @include mixin.tipografia("Roboto", 600, 18px);
      span {
        @include mixin.tipografia("Roboto", 600, 20px);
      }
    }
  }
}
