@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.contenedorUser, .contenedorNosotros img, .contenedorNosotrosSecundario div, .nav-link, .iconFondo, ::-webkit-scrollbar-track,
.borde {
  border-radius: 10px;
}

.carritoTarj,
.carritoImg,
.numeroContador,
.botonContador,
.contenedorCarritoPedido,
.carritoPedidoBoton, .contenedorUser .contenedorSecundarioUsuario input, .contenedorUser .bottonUsuario, .contenedorNosotros p span, .contenedorCatalogoCard button {
  border-radius: 5px;
}

footer, .redesSociales, .mainCarrito,
.contenedorCarritoTexto,
.contenedorCarritoPedido, .contenedorCarrito,
.contenedorCarritoCantidad,
.contadorContenedor, .carritoTarj,
.contenedorCarritoEliminar, .mainUsuario,
.contenedorUser,
.contenedorSecundarioUsuario, .contenedorNosotros,
.contenedorNosotrosSecundario, .mainCatalogo,
.contenedorCatalogo,
.subTituloCatalogo, .mainHome, header {
  display: flex;
}

.mainCarrito,
.contenedorCarritoTexto,
.contenedorCarritoPedido, .contenedorUser,
.contenedorSecundarioUsuario, .contenedorNosotros, .mainCatalogo,
.contenedorCatalogo, .mainHome {
  flex-direction: column;
}

.carritoTarj,
.contenedorCarritoPedido, .contenedorUser, .contenedorNosotrosSecundario div, .contenedorCatalogoCard, .nav-link {
  border: 1px solid rgba(0, 0, 0, 0.582);
}

.numeroContador,
.botonContador,
.carritoPedidoTexto, .contenedorCatalogoCard, .shadowText {
  text-align: center;
}

.botonContador,
.carritoPedidoBoton, .contenedorUser .bottonUsuario, .contenedorCatalogoCard button {
  box-shadow: 5px 5px 5px 0px rgba(48, 38, 28, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(48, 38, 28, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(48, 38, 28, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iconFondo {
  padding: 2px;
}

body,
::-webkit-scrollbar-track {
  background-color: #e2ded7;
}

.borde {
  box-shadow: 2px 1px 1px rgba(226, 222, 215, 0.2862745098);
}

.shadowText {
  font-size: 40px;
  text-shadow: 2px 2px 1px #e2ded7;
  width: 100%;
  color: #30261c;
  padding: 7px 0px;
}

/*<-----Personalización de la barra de scroll(Chrome, Edge y Safari)----->*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #30261c;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover,
.shadowText,
.iconFondo {
  background-color: #a4927a;
}

main {
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  .shadowText {
    font-size: 20px;
  }
  main {
    padding-bottom: 80px;
  }
}
header {
  background-image: linear-gradient(to top, #e2ded7, #a4927a, #30261c, #30261c, #30261c, #30261c, #30261c, #30261c, #30261c);
  justify-content: space-between;
  align-items: center;
}

.logoHeader {
  width: 80px;
  height: 80px;
  margin: 2px 0 15px 15px;
}

.container-fluid {
  margin: 2px 10px 25px 0px;
}

.navbar-nav {
  margin: 0 10px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 18px;
}

.nav-link {
  color: #a4927a;
  margin: 0 2px;
}

.dropdown-menu,
.fondo {
  background-color: #a4927a;
}

.dropdown-item {
  color: #30261c;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 13px;
}

@media (max-width: 500px) {
  .logoHeader {
    width: 60px;
    height: 60px;
  }
  .container-fluid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggler {
    width: 40px;
    height: 30px;
    padding: 0;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-nav {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
}
.mainHome {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mainHome img {
  width: 90%;
}

.contenedorHome {
  padding: 10px;
}

.mainCatalogo {
  gap: 5px;
}

.contenedorCatalogo,
.contenedorCatalogoCard {
  padding: 10px;
}

.subTituloCatalogo {
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 25px;
}

.subTituloCatalogo::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.582);
  margin-left: 10px;
}

.contenedorCatalogoProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.contenedorCatalogoCard {
  height: auto;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 13px;
}
.contenedorCatalogoCard img {
  width: 50%;
}
.contenedorCatalogoCard button {
  background-color: #a4927a;
  color: #30261c;
  margin: 0 0 10px 0;
  padding: 2px 10px;
  border: none;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 15px;
  transform: translate(0, -3px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}
.contenedorCatalogoCard button:active {
  transform: translate(0, 0);
}

.contenedorCatalogoCard:hover {
  background-color: #30261c;
  color: #e2ded7;
  border: 5px solid transparent;
  position: relative;
  animation: borderAnimation 4s linear infinite;
}
.contenedorCatalogoCard:hover button {
  box-shadow: 5px 5px 5px 0px #e2ded7;
  -webkit-box-shadow: 5px 5px 5px 0px #e2ded7;
  -moz-box-shadow: 5px 5px 5px 0px #e2ded7;
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(45deg, #488cfb, #29dbbc);
  }
  25% {
    border-image-source: linear-gradient(45deg, #29dbbc, #ddf505);
  }
  50% {
    border-image-source: linear-gradient(45deg, #ddf505, #ff9f0e);
  }
  75% {
    border-image-source: linear-gradient(45deg, #ff9f0e, #e440bb);
  }
  100% {
    border-image-source: linear-gradient(45deg, #e440bb, #655adc);
  }
}
.contenedorCatalogoCard:hover {
  border-image-slice: 1;
}

@media (max-width: 500px) {
  .contenedorCatalogoProductos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
  }
}
.contenedorNosotros {
  gap: 10px;
}
.contenedorNosotros img {
  width: 70%;
}
.contenedorNosotros p {
  padding: 10px 15px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 21px;
  justify-content: center;
  align-items: center;
}
.contenedorNosotros p span {
  padding: 5px;
  color: #30261c;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 23px;
}

.contenedorNosotros,
.contenedorNosotrosSecundario {
  justify-content: space-between;
  align-items: center;
}

.contenedorNosotrosSecundario {
  width: 80%;
}
.contenedorNosotrosSecundario div {
  width: 50%;
  padding-top: 8px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.445);
  margin: 0px 5px 10px 5px;
}
.contenedorNosotrosSecundario div p {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 21px;
}
.contenedorNosotrosSecundario div p span {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 23px;
}

@media (max-width: 500px) {
  .contenedorNosotros h2 {
    font-size: 30px;
  }
  .contenedorNosotros img {
    width: 75%;
    height: 75%;
  }
  .contenedorNosotros p {
    font-size: 13px;
  }
  .contenedorNosotros p span {
    font-size: 15px;
  }
  .contenedorNosotrosSecundario {
    flex-direction: column;
  }
  .contenedorNosotrosSecundario div {
    width: 100%;
  }
  .contenedorNosotrosSecundario div p {
    font-size: 15px;
  }
  .contenedorNosotrosSecundario div p span {
    font-size: 18px;
  }
}
.mainUsuario,
.contenedorUser {
  justify-content: center;
  align-items: center;
}

.contenedorUser {
  width: 50%;
  gap: 20px;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 0 0;
  padding: 15px 0;
}
.contenedorUser .contenedorSecundarioUsuario {
  width: 80%;
}
.contenedorUser .contenedorSecundarioUsuario input {
  padding: 2px 5px;
}
.contenedorUser a,
.contenedorUser .bottonUsuario:hover {
  color: #a4927a;
}
.contenedorUser .bottonUsuario {
  background-color: #a4927a;
  color: #30261c;
  border: none;
  padding: 2px 15px;
}
.contenedorUser .bottonUsuario:hover {
  background-color: #30261c;
}

@media (max-width: 500px) {
  .contenedorUser {
    width: 80%;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-size: 15px;
  }
}
.contenedorCarrito,
.contenedorCarritoCantidad,
.contadorContenedor {
  gap: 5px;
}

.carritoTarj,
.contenedorCarritoEliminar,
.contenedorCarritoPedido {
  justify-content: center;
  align-items: center;
}

.numeroContador,
.botonContador,
.carritoPedidoBoton {
  border: none;
}

.carritoTarj,
.numeroContador,
.carritoPedidoBoton {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 15px;
}

.carritoImg,
.numeroContador,
.botonContador,
.contenedorCarritoEliminar {
  width: 10%;
}

.contenedorCarrito {
  padding: 10px;
  width: 100%;
}

.contenedorCarritoTarj {
  width: 70%;
}

.carritoTarj {
  margin-bottom: 5px;
}

.contenedorCarritoTexto {
  width: 80%;
  padding: 5px 10px;
}

.carritoTarj,
.carritoPedidoTexto,
.botonContador,
.carritoPedidoBoton {
  color: #30261c;
}

.botonContador,
.carritoPedidoBoton {
  background-color: #a4927a;
}

.carritoPedidoBoton:hover {
  background-color: #30261c;
  color: #a4927a;
}

.contenedorCarritoPedido {
  width: 30%;
  gap: 10px;
}
.contenedorCarritoPedido .carritoPedidoTexto {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 20px;
}

.carritoPedidoBoton {
  margin: 0 0 10px 0;
  padding: 2px 10px;
}

@media (max-width: 500px) {
  .contenedorCarrito {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorCarritoTarj {
    width: 100%;
  }
  .carritoTarj {
    margin: 10px;
  }
  .carritoImg {
    margin: 5px;
    border-radius: 5px;
  }
  .contenedorCarritoTexto {
    padding: 5px 10px;
    gap: 5px;
  }
  .contenedorCarritoTexto h3 {
    font-size: 15px;
  }
  .iconoEliminar,
  .contenedorCarritoPedido {
    width: 80%;
  }
  .contenedorCarritoPedido {
    gap: 5px;
    padding: 5px 0;
  }
  .carritoPedidoBoton,
  .contenedorCarritoTexto,
  .numeroContador {
    font-size: 15px;
  }
  .numeroContador,
  .botonContador,
  .contenedorCarritoEliminar,
  .carritoImg {
    width: 20%;
  }
}
footer {
  background-image: linear-gradient(to bottom, #e2ded7, #a4927a, #30261c, #30261c, #30261c, #30261c, #30261c);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 15px;
}

.logoFooter {
  width: 48px;
  height: 48px;
  margin: 10px 0 2px 10px;
}

.parrafoFooter {
  color: #a4927a;
  font-size: 18px;
  margin: 20px 0 2px;
}

.redesSociales {
  align-items: center;
  gap: 10px;
  margin: 25px 15px 2px 0;
}
.redesSociales h5 {
  color: #a4927a;
  font-size: 15px;
  margin-top: 10px;
}
.redesSociales a {
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  footer {
    height: 60px;
  }
  .logoFooter {
    width: 40px;
    height: 40px;
    margin: 10px 0 2px 10px;
  }
  .parrafoFooter {
    margin: 20px 0 2px;
  }
  .redesSociales {
    gap: 2px;
  }
  .redesSociales h5,
  .parrafoFooter {
    font-size: 10px;
  }
  .redesSociales a img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
