@media (max-width: 500px) {
  footer {
    height: 60px;
  }
  .logoFooter {
    width: 40px;
    height: 40px;
    margin: 10px 0 2px 10px;
  }
  .parrafoFooter {
    margin: 20px 0 2px;
  }
  .redesSociales {
    gap: 2px;
  }
  .redesSociales h5,
  .parrafoFooter {
    font-size: 10px;
  }
  .redesSociales a img {
    width: 100%;
  }
}
